<div id='userPill' >
<ul class="nav nav-pills nav-stacked">
  <li><a href="/users/<%= current_user.id %>">Profile</a></li>
  <li><a href="#">Fantasy Team</a></li>
  <li><a href="/users/favorite">Favorite Players</a></li>
  <li><a href="#">Compare</a></li>
  <li><%= link_to "Delete Account", "/users/#{current_user.id}", method: :delete %></li>

</ul></div>