<%= render 'layouts/nav' %>
<%= render 'nav_stacked' %>
<div class="jumbotron color">
<h1>Favorite Players</h1>
</div>

<% @players.each do |player|%>

	<div class="favorite">
		<img src="<%= player.img_url %>">
		<h4><%= link_to "#{player.name} #{player.position.name} #{player.number}", "/players/#{player.nfl_id}", method: :get %></h4>
	</div>

<% end %>
