// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 #userPill {
	float: left;
	width: 150px;
}

.jumbotron {
	text-align: center;
}

#color {
	color: #B2152B;
}

.nav-pills > li > a:hover {
	background-color: #46A2CC;
	color: #FFF50A;
}
.nav-pills > li > a {
	color: #1581B2;
}

.jumbotron {
	height: 210px;
}

.clear {
	clear: left;
}

.favorite {
	background-color: #1581B2;
	padding: 5px;
	margin: 8px .5%;
	border-radius: 5px;
	float: left;
	width: 24%;
}

.favorite > h4 > a {
	color: #B2152B
}

.favorite a:hover {
	color: #FFF50A;
	text-decoration: none;
}
