
  <div class="bottom-nav">
    <ul class="position-links">
    	<% Position.all.each do |position| %>
    		<li><a href="/positions/<%= position.name %>"><%= position.name %></a></li>
    	<% end %>
    </ul>
  </div>
