<div class="row">
	<% @players.each do |player|%>

		<div class="col-sm-3 ">
      <div class="favorite">
  			<img src="<%= player.img_url %>">
  			<h4><%= link_to "#{player.first_name} #{player.last_name} #{player.position.name} #{player.number}", "/players/#{player.nfl_id}", method: :get %></h4>
      </div>
		</div>

	<% end %>
</div>